In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [2]:
df = pd.read_csv('Human Resources.csv')

In [3]:
df.head(3)

,id,first_name,last_name,birthdate,gender,race,department,jobtitle,location,hire_date,termdate,location_city,location_state
0,00-0037846,Kimmy,Walczynski,6/4/1991,Male,Hispanic or Latino,Engineering,Programmer Analyst I,Headquarters,1/20/2002,NaN,Cleveland,Ohio
1,00-0041533,Ignatius,Springett,6/29/1984,Male,White,Business Development,Business Analyst,Headquarters,4/8/2019,NaN,Cleveland,Ohio
2,00-0045747,Corbie,Bittlestone,7/29/1989,Male,Black or African American,Sales,Solutions Engineer Manager,Headquarters,10/12/2010,NaN,Cleveland,Ohio

# Q1. How many employees are there in total?

In [4]:
q1 = df['id'].count()
print(f'Total Number of Employees are {q1}')

Total Number of Employees are 22214

# Q2. What department has the most employees?

In [5]:
q2 = df.groupby('department')['id'].agg('count').sort_values(ascending= False).head(1)
q2

department
Engineering    6686
Name: id, dtype: int64

In [6]:
q2_1 = df.groupby('department')['id'].agg('count').idxmax()
q2_2 = df.groupby('department')['id'].agg('count').max()
print(f'{q2_1} {q2_2}')

Engineering 6686

# Q3. How many Male & Female Staff are there in Company?

In [7]:
q3 = df.groupby('gender')['id'].agg('count')
q3

gender
Female            10321
Male              11288
Non-Conforming      605
Name: id, dtype: int64

# Q4. How many employees work remotely from Ohio?

In [8]:
q4_0 = df.groupby('location')['id'].agg('count')
q4_0

location
Headquarters    16715
Remote           5499
Name: id, dtype: int64

In [9]:
q4 = df[(df['location'] == 'Remote') & (df['location_state'] == 'Ohio')]['id'].agg('count')
print(f'No. of people working remotely from Ohio are {q4}')

No. of people working remotely from Ohio are 1310

# Q5. How many Black people are in Sales Department working from Headquarters?

In [10]:
q5 = df[(df['race'].str.lower().str.contains('black', na= True)) & (df['location'] == 'Headquarters') & (df['department'] == 'Sales')]['id'].agg('count')
q5

217

# Q6. What is the Maximum and Minimum age of Employees?

In [11]:
q6_min = (pd.to_datetime('now').year - pd.DatetimeIndex(pd.to_datetime(df['birthdate'])).year).min()
q6_max = (pd.to_datetime('now').year - pd.DatetimeIndex(pd.to_datetime(df['birthdate'])).year).max()
print(f'max age = {q6_max}, min age = {q6_min}')

max age = 57.0, min age = 20.0

In [12]:
pd.DatetimeIndex(pd.to_datetime(df['birthdate'])).year

Float64Index([1991.0, 1984.0, 1989.0, 1982.0, 1994.0, 1971.0, 1979.0, 1988.0,
              1996.0, 1980.0,
              ...
                 nan,    nan,    nan,    nan,    nan,    nan,    nan,    nan,
                 nan,    nan],
             dtype='float64', name='birthdate', length=37408)

# Q7. How many employees are contractual? (If Term Date is not null then it is Permanent)

In [13]:
q7_c = df[df['termdate'].isnull()]['id'].agg('count')
q7_p = df[~df['termdate'].isnull()]['id'].agg('count')

print(f'Contractual = {q7_c}, Permanent = {q7_p}')

Contractual = 18285, Permanent = 3929

# Q8. How many people were hired after 2015?

In [14]:
q8 = df[ pd.DatetimeIndex(pd.to_datetime(df['hire_date'])).year > 2015 ]['id'].agg('count')
q8

5455

# Q9. What is the average age of Employees summarized by Race?

In [15]:
q9_0 = df.copy()
q9_0['age'] = pd.to_datetime('now').year - pd.DatetimeIndex(pd.to_datetime(df['birthdate'])).year
q9_1 = q9_0.groupby('race')['age'].agg('mean')
q9_1

race
American Indian or Alaska Native             38.175584
Asian                                        38.056148
Black or African American                    38.243437
Hispanic or Latino                           37.911236
Native Hawaiian or Other Pacific Islander    37.816111
Two or More Races                            38.142818
White                                        38.365360
Name: age, dtype: float64

# Q10. What maximum tenure in years summarized by each department? Sort ascending so that we can know which department has been newly established relatively to other departments.

In [16]:
q10_0 = df.copy()
q10_0['tenure'] = pd.to_datetime('now').year - pd.DatetimeIndex(pd.to_datetime(df['hire_date'])).year
q10_1 = q10_0.groupby('department')['tenure'].agg('max')
q10_1

department
Accounting                  22.0
Auditing                    22.0
Business Development        22.0
Engineering                 22.0
Human Resources             22.0
Legal                       22.0
Marketing                   22.0
Product Management          22.0
Research and Development    22.0
Sales                       22.0
Services                    22.0
Support                     22.0
Training                    22.0
Name: tenure, dtype: float64